.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}

@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
