/* ProductCard.css */

.card-link {
  text-decoration: none !important;
}

.card-link:hover {
  transform: scale(1.02);
  opacity: 0.85;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card-title {
  width: 100%;
  height: 50px;
  margin-top: 6px;
}

.card-footer {
  justify-content: center;
}

.card-price {
  color: #3182ce;
  font-size: 1.5rem;
}
