/* fonts.css */
@font-face {
  font-family: "Protest Riot";
  src: url("/fonts/ProtestRiot-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Angkor";
  src: url("/fonts/Angkor-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
